body {
    background-color:lightgrey
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.calculator {
    border-radius: .31em;
    border: .125rem solid rgb(27, 27, 27);
    background-color: rgb(128, 128, 128);
    padding: 1.5rem;
    width: 23rem;
}

.screen {
    background-color: white;
    border: .125rem solid rgb(27, 27, 27);
    border-radius: .31rem;
    margin-bottom: 1.31rem;
    padding: .625rem 2.25rem;
    text-align: right;
    overflow-wrap: break-word;
}

.screen-display {
    height: 6rem;
    font-size: 40px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .69em;

}

.btn {
    border-radius: .31rem;
    border: .125rem solid rgb(27, 27, 27);
    background-color: white;
    padding: 1.36rem;
    text-align: center;
    font-size: 20px;
}

#clear {
    background-color: blueviolet;
    grid-column: span 4;
}